* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/milky\ way.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
}

a {
    text-decoration: none;
}


/*---------------------------------------------USEABLE---------------------------------------------------*/

.container {
    padding: 5px;
    width: 100vw;
    height: max-content;
}

.clear-fixed::after {
    display: table;
    content: "";
    clear: both;
}


/*---------------------------------------------HEADER---------------------------------------------------*/

.header {
    background-color: rgba(0, 0, 0, .8);
    color: aliceblue;
    position: fixed;
    max-height: 50px;
    padding: 5px;
    padding-bottom: 10px;
}

.main-nav {
    width: 100vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 5px;
}

.logo-image {
    background-image: url(../images/avatar_logo.jpg);
    border-radius: 5px;
    height: 38px;
    width: 60px;
    background-size: cover;
}

.main-nav-bar {
    margin: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav-bar-item {
    cursor: pointer;
}

.main-nav-bar-item:hover {
    padding: 10px;
    background-color: rgba(129, 129, 87, 0.9);
    border-radius: 5px;
}

.main-nav-bar-my-cv {
    margin-left: 10px;
}

.main-nav-bar-my-schedules {
    margin-left: 10px;
}

.main-nav-bar-about {
    margin-left: 10px;
}

.main-nav-bar-search {
    border-radius: 3px;
    background-color: azure;
    max-width: 80px;
    margin-left: 10px;
}

.main-nav-bar-submit {
    background-color: azure;
    border-radius: 3px;
    margin-left: 10px;
    width: 30px;
    cursor: pointer;
}


/*---------------------------------------------MY COSMOS---------------------------------------------------*/

.moon {
    width: 4vw;
    position: fixed;
    left: 20vw;
    top: 20vh;
}

.telescope {
    width: 10vw;
    position: fixed;
    opacity: 95%;
    bottom: 0;
    left: 0px;
}

.telescope.active {
    left: 40vw;
}

.tree {
    width: 20vw;
    position: fixed;
    opacity: 95%;
    bottom: 0;
    right: 30vw;
}

.my-cosmos-music {
    display: none;
}


/*---------------------------------------------FOOTER---------------------------------------------------*/