* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/milky\ way.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}


/*---------------------------------------------USEABLE---------------------------------------------------*/

.container {
    width: 100vw;
    height: max-content;
}

.clear-fixed::after {
    display: table;
    content: "";
    clear: both;
}

.bar-item {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.bar-item:active {
    transform: translate(2%, 2%);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.menu-icon {
    display: none;
    width: 30px;
    margin-right: 30px;
}

.menu-icon:active {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.active {
    display: block;
}


/*---------------------------------------------HEADER---------------------------------------------------*/

.header {
    background-color: rgba(0, 0, 0, .3);
    color: aliceblue;
    position: fixed;
    max-height: 10vh;
}

.logo {
    margin: 5px;
    margin-left: 10px;
    place-items: 1;
}

.logo-image {
    background-image: url(../images/avatar_logo.jpg);
    border-radius: 5px;
    height: 30px;
    width: 50px;
    background-size: cover;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
}

.logo-image:active {
    transform: translate(2%, 2%);
}

.main-nav {
    width: 100vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav-moblie {
    display: none;
}

.main-nav-bar {
    margin: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 600px;
}

.main-nav-bar-item:hover {
    padding: 10px;
    background-color: rgba(129, 129, 87, 0.9);
    border-radius: 5px;
}

.main-nav-bar-my-cv {
    margin-left: 10px;
}

.main-nav-bar-my-schedules {
    margin-left: 10px;
}

.main-nav-bar-about {
    margin-left: 10px;
}

.main-nav-search {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    padding: 0;
}

.main-nav-bar-search {
    border-radius: 3px;
    background-color: azure;
    height: 30px;
    max-width: 80px;
    margin-left: 10px;
}

.main-nav-bar-submit {
    background-color: azure;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/*---------------------------------------------MY COSMOS---------------------------------------------------*/

.my-cosmos {
    height: 100vh;
}

.my-cosmos-image-item {
    position: absolute;
}

.moon {
    display: none;
    width: 4vw;
    left: 20vw;
    top: 20vh;
    z-index: 4;
}

.moon-big {
    display: none;
    width: 8vw;
    left: 20vw;
    top: 20vh;
    z-index: 4;
}

.telescope {
    width: 10vw;
    opacity: 95%;
    bottom: 0;
    left: 0px;
    z-index: 3;
}

.man-hand-behind-neck {
    width: 10vw;
    display: none;
    left: 35vw;
    bottom: 0;
    z-index: 3;
}

.tree {
    width: 20vw;
    opacity: 95%;
    bottom: 0;
    right: 30vw;
    z-index: 2;
}

.house {
    display: none;
    width: 40vw;
    bottom: 0;
    right: -15vw;
    z-index: 1;
}

.man-sitting {
    display: none;
    left: 35vw;
    bottom: 0;
    z-index: 3;
    width: 10vw;
}

.rabit-paper {
    width: 2vw;
    right: 0px;
    bottom: 0px;
    z-index: 4;
}

.rabit-paper:active {
    width: 20vw;
}

.ground {
    display: none;
    width: 100vw;
    bottom: 0;
    z-index: 1;
}

.my-cosmos-music {
    display: none;
}

.my-cosmos-image-item.active {
    display: block;
}

.tree.active {
    left: 90vw;
    width: 30vw;
}

.telescope.active {
    left: 40vw;
    width: 15vw;
}


/*---------------------------------------------FOOTER---------------------------------------------------*/

.footer {
    display: block;
    background-color: black;
}

.copyright {
    text-align: center;
    background-image: linear-gradient(to right, rgb(38, 165, 166) 0%, rgb(41, 6, 82) 100%);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 10;
}


/*-------------------------------------------------RESPONSIVE-----------------------------------------------*/

@media (max-width: 768px) {
    .main-nav-bar {
        display: none;
    }
    .main-nav-bar.active {
        display: inline-flex;
        flex-direction: column;
        min-width: 40px;
        position: fixed;
        align-items: flex-end;
        top: 40px;
        right: 20px;
    }
    .main-nav-moblie {
        display: block;
    }
}