* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/milky\ way.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}


/*---------------------------------------------USEABLE---------------------------------------------------*/

.container {
    padding: 5px;
    width: 100vw;
    height: max-content;
}

.clear-fixed::after {
    display: table;
    content: "";
    clear: both;
}


/*---------------------------------------------HEADER---------------------------------------------------*/

.header {
    background-color: rgba(0, 0, 0, .3);
    color: aliceblue;
    position: fixed;
    max-height: 10vh;
    padding: 5px;
    padding-bottom: 10px;
}

.main-nav {
    width: 100vw;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 5px;
}

.logo-image {
    background-image: url(../images/avatar_logo.jpg);
    border-radius: 5px;
    height: 6vh;
    width: 6vw;
    background-size: cover;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
}

.logo-image:active {
    box-shadow: 5px 1px 2px 1px rgba(0, 0, 0, 0.8);
}

.main-nav-bar {
    margin: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav-bar-item {
    cursor: pointer;
}

.main-nav-bar-item:hover {
    padding: 10px;
    background-color: rgba(129, 129, 87, 0.9);
    border-radius: 5px;
}

.main-nav-bar-my-cv {
    margin-left: 10px;
}

.main-nav-bar-my-schedules {
    margin-left: 10px;
}

.main-nav-bar-about {
    margin-left: 10px;
}

.main-nav-bar-search {
    border-radius: 3px;
    background-color: azure;
    max-width: 80px;
    margin-left: 10px;
}

.main-nav-bar-submit {
    background-color: azure;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    cursor: pointer;
}


/*---------------------------------------------MY COSMOS---------------------------------------------------*/

.my-cosmos {
    height: 100vh;
}

.my-cosmos-image-item {
    position: absolute;
}

.moon {
    width: 4vw;
    left: 20vw;
    top: 20vh;
    z-index: 4;
}

.telescope {
    width: 10vw;
    opacity: 95%;
    bottom: 0;
    left: 0px;
    z-index: 3;
}

.telescope.active {
    left: 40vw;
}

.man-hand-behind-neck {
    left: 35vh;
    bottom: 0;
    z-index: 3;
}

.tree {
    width: 20vw;
    opacity: 95%;
    bottom: 0;
    right: 30vw;
    z-index: 2;
}

.ground {
    display: none;
    width: 100vw;
    bottom: 0;
    z-index: 1;
}

.ground.active {
    display: block;
}

.my-cosmos-music {
    display: none;
}


/*---------------------------------------------FOOTER---------------------------------------------------*/

.footer {
    display: block;
}

.copyright {
    text-align: center;
    background-image: linear-gradient(to right, rgb(38, 165, 166) 0%, rgb(41, 6, 82) 100%);
    background-color: initial;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 10;
}